body {
  background: #2b0845;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  color: #f2f2f2;
}

.container-fluid {
  background: rgba(0, 0, 0, 0.25);
}
.navbar-collapse .img-logo {
  display: none;
}
.nav-home {
  display: none;
}
.navbar a {
  color: #f2f2f2;
  margin-left: 10px;
}
.navbar {
  padding-left: 80px;
  padding-right: 80px;
}
.nav .nav-item {
  font-size: 18px;
  line-height: 23px;
}
.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a:focus {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link.dropdown-toggle:after {
  content: none;
}
.nav-link.dropdown-toggle .bi-chevron-down {
  color: rgba(242, 242, 242, 1);
}
.navbar-nav .nav-link.dropdown-toggle.show .bi-chevron-down::before {
  transform: rotateZ(180deg);
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-nav a {
  width: 21px;
  margin-left: 10px;
}
.icon-nav .bi {
  color: #f2f2f2;
}
.icon-nav .text {
  margin-right: 20px;
  text-decoration: none;
}
.dropdown-menu:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
      180deg,
      rgba(43, 8, 69, 0) 0%,
      rgba(250, 140, 2, 0.5) 100%
    ),
    rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.navbar .img-logo img {
  width: 64px;
  height: 64px;
}
.nav-bar-header {
  position: relative;
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
}
.dropdown-menu {
  background: transparent;
  width: 153px;
  padding: 0px;
  border-radius: 5px;
  margin-top: 0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
}

.dropdown-menu li a {
  text-transform: uppercase;
  color: #f2f2f2;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li {
  border-radius: 5px;
  overflow: hidden;
  background: transparent;
}
.dropdown-menu li a {
  min-height: 32px;
}
.dropdown-menu li a:hover {
  background: transparent;
  color: #f2f2f2;
  border: 1px solid;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 5px;
}
.navbar {
  height: 100px;
}
.navbar .nav-bar {
  padding-left: 80px;
}
.container-xxl.body-content {
  background: url('../image/expo-now-01.jpg') no-repeat;
  background-size: cover;
  position: relative;
  top: -100px;
  z-index: 0;
  font-family: 'Montserrat', sans-serif;
  background-position: top center;
}
.body-content {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 27px;
  min-height: 964px;
}
.body-content .content {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  margin-top: calc(50% - 333px);
}
.body-content .content p {
  margin-bottom: 10px;
}
.body-content .content .btn-buy-ticket::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 4px;
  border-style: solid;
  top: 0;
  left: 0;
}
.body-content .content .btn-buy-ticket {
  position: relative;
  border-radius: 5px;
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px 16px;
  overflow: hidden;
  font-weight: 900;
  font-size: 23px;
  line-height: 29px;
  cursor: pointer;
}
.body-content .content .btn-buy-ticket:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  color: #f2f2f2;
}
.container-xxl.bg-image {
  position: relative;
  padding-bottom: 40px;
}
.container-xxl.bg-image_expo {
  position: relative;
  padding-bottom: 360px;
}
.time-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1030px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.time-info h3.title {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 44px;
  font-weight: 900;
}
.time-info .table {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  padding: 0 40px;
  color: #f2f2f2;
}
.time-info .table::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  top: 0;
  left: 0;
}
.time-info .table .row {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
.time-info .table .row::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  bottom: 0;
}
.time-info .table .row:last-child:before {
  content: none;
}
.time-info .table .col-4,
.time-info .table .col-3 {
  text-align: center;
}
.time-info .table .title-content .col-4,
.time-info .table .title-content .col-3 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.time-info .table .title-content .col-4:first-child,
.time-info .table .title-content .col-3:first-child {
  font-weight: bold;
}
.time-info .table .title-header .col-4,
.time-info .table .title-header .col-3 {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.time-info .desc {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.time-info .desc .text {
  margin-bottom: 0;
}
.time-info .desc .text span {
  margin-right: 20px;
}
.time-info .desc .btn-here {
  color: #460d6e;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.infor-ticket {
  margin-top: 80px;
  width: 1030px;
}
.infor-ticket .content .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Orbitron';
}
.infor-ticket .content .text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}
.infor-ticket .content .desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.infor-ticket.container-xxl .live-stream {
  margin-top: 50px;
  font-family: 'Orbitron';
}
.infor-ticket.container-xxl .live-stream-text {
  margin-top: 50px;
}
.infor-ticket.container-xxl .title {
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
}
.infor-ticket .live-stream .table {
  width: 480px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  color: #f2f2f2;
}
.infor-ticket .live-stream .table .item {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  padding-left: 15px;
  border-right: 1px solid #f2f2f2;
}
.infor-ticket .live-stream .table .item:last-child {
  border-right: none;
}
.infor-ticket .live-stream .table .row {
  border-bottom: 1px solid #f2f2f2;
}
.infor-ticket .live-stream .table .row:last-child {
  border-bottom: none;
}

.infor-ticket .live-stream .table .item.label {
  font-weight: 600;
  max-width: 140px;
  padding-right: 0;
  padding-left: 15px;
}
.infor-ticket .list-live,
.noted-content .list-live {
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  padding: 0 25px;
  margin-bottom: 5px;
}
.infor-ticket.container-xxl {
  position: relative;
  overflow: hidden;
}
.full-content {
  z-index: 2;
  position: relative;
  background: url('../image/pngaaa 1.png') no-repeat;
  background-position: bottom right;
  background-size: 673px 1130px;
}
.infor-ticket .text-gray {
  color: #828282;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 17px;
}
.infor-ticket .content {
  padding: 0;
}
.events.container-xxl .content .text {
  width: 209px;
  padding: 20px;
  font-size: 22px;
  line-height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11000000;
  cursor: pointer;
}

.events.container-xxl .content .text:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.events.container-xxl .content .text:hover + .img-content {
  transform: scale(1.2);
  left: 0;
}
.events.container-xxl .container-content {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  z-index: 11;
}
.events.container-xxl.bg-image_expo::before,
.container-xxl.bg-image::before {
  content: '';
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url('../image/bg.png') no-repeat top center;
}
.container-xxl.bg-image::before {
  background: url('../image/orange.png') no-repeat top center;
}
.events.container-xxl.bg-image_expo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../image/bgfix (1).jpg') no-repeat;

  background-size: cover;
  background-position: center center;
}
.events.container-xxl .container-content .title {
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 80px;
  font-family: 'Orbitron';
}
.events.container-xxl .content {
  height: 350px;
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
}
.events.container-xxl .content .img-content {
  width: 100%;
  height: calc(100% - 7px);
  position: absolute;
  left: 110px;
  top: 4px;
  object-fit: contain;
  z-index: 23333;
  transition: all 0.3s linear;
}
.events.container-xxl .block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  width: calc(100% - 90px);
  background: url('../image/StarlineSparkle896 - Student, Interface Designer _ DeviantArt.png')
    no-repeat;
  background-size: calc(100% - 300px) 300px;
  background-position: right top;
}
.events.container-xxl .block::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.events .img-star {
  display: flex;
  transform: translateY(-50%);
}
.events .img-star .icon-star {
  background: url('../image/star.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: flex;
}

.events.container-xxl .content.content-right .text,
.events.container-xxl .content.content-right .block {
  right: 0;
  left: auto;
}

.events.container-xxl .content.content-right .block {
  background: url('../image/F3nTqy.jpeg') no-repeat;
  background-position: -110px;
  background-size: contain;
}
.events.container-xxl .content.content-right .img-content {
  left: -110px;
}

.events.container-xxl .content.content-right .text:hover + .img-content {
  left: 40px;
}
.events.container-xxl .content.content-fix-layout .text:hover + .img-content {
  left: -50px;
}
.events.container-xxl .content-fix-layout.content .block {
  background: url('../image/pastel _ Tumblr.png') no-repeat;
  background-size: calc(100% - 300px) 100%;
  background-position: right top;
}
.footer {
  position: relative;
  z-index: 1;
  margin-top: -360px;
}
.footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% + 20px);
  background: linear-gradient(
    180deg,
    rgba(43, 8, 69, 0) 0%,
    rgba(250, 140, 2, 0.5) 100%
  );
  top: 0;
  left: 0;
  z-index: -1;
}
.footer .item-footer {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Orbitron';
  white-space: nowrap;
  display: inline-block;
  flex: 0;
  padding: 0;
  padding-left: 20px;
  cursor: pointer;
}
.footer .item-footer:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .row {
  width: 1240px;
  margin: 0 auto;
}
.footer.container-xxl .image-logo img {
  display: block;
  width: 150px;
  height: 152.21px;
  margin: 0 auto;
  margin-top: 20px;
}
.footer.container-xxl .image-logo .icon-social {
  text-align: center;
  margin-top: 10px;
}
.footer.container-xxl .image-logo .icon-social a {
  text-align: center;
  color: #f2f2f2;
  display: inline-block;
  margin-left: 20px;
  width: 25px;
}
.footer.container-xxl .contact {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
  margin-top: 10px;
}
.footer.container-xxl .contact p {
  margin-bottom: 4px;
}
.footer.container-xxl .contact h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 6px;
}

.sale-content {
  z-index: -1;
  background: url('../image/bgfix (1).jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 360px;
}
.sale-content .box-item,
.about-package .box-item {
  width: 1240px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.sale-content .box-item .item,
.about-package .box-item .item {
  max-width: 295px;
  min-width: 295px;
  margin-left: 10px;
  margin-bottom: 30px;
  position: relative;
}
.sale-content .box-item .item:first-child,
.about-package .box-item .item:first-child {
  margin-left: 0;
}
.sale-content .box-item .item-border,
.about-package .box-item .item-border {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s linear;
}
.sale-content .box-item .item-border::before,
.about-package .box-item .item-border::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.sale-content .box-item .item img,
.about-package .box-item .item img {
  display: block;
  width: 100%;
  border-radius: 5px;
  max-height: 300px;
}
.sale-content .box-item .item .item-link,
.about-package .box-item .item .item-link {
  display: inline-block;
  vertical-align: middle;
  padding: 18px 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 10;
}

.sale-content .box-item .item .item-link:hover + .item-border,
.about-package .box-item .item .item-link:hover + .item-border {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 10px);
}

.sale-content .title {
  text-align: center;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  margin-bottom: 50px;
}
.sale-content .actions-more {
  text-align: center;
}
.sale-content .actions-more .btn-see-more {
  padding: 10px 30px;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 120px;
  text-decoration: none;
}
.sale-content .actions-more .btn-see-more::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.sale-content .actions-more .btn-see-more:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #460d6e;
}

/* page event past */

.body-content-event-past.container-xxl.body-content {
  background-image: url('../image/bg-img-event-past.jpg');
}
.events.container-xxl.events-past.bg-image_expo {
  padding-bottom: 50px;
}
.events.container-xxl.events-past.bg-image_expo::after {
  content: none;
}
.events-past.container-xxl.events .container-content .title {
  text-align: center;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 680px;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  margin: 0 auto 20px;
}
.events-past .container-content {
  margin-bottom: 50px;
}
.events-past .container-content .content-iframe {
  position: relative;
  max-width: 1030px;
  overflow: hidden;
  padding-top: 46.8%;
  margin: 0 auto;
}

.events-past .container-content .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.container-xxl.concert-container {
  padding-bottom: 50px;
}

.container-xxl.concert-container .title {
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

.container-xxl.concert-container .table .date-time {
  max-width: 175px;
  margin: 0 auto;
  text-align: center;
}

.container-xxl.concert-container .table .date-time p {
  margin-bottom: 5px;
  padding: 0;
}
.container-xxl.concert-container .table .status a {
  padding: 5px 60px;
  color: #828282;
  border: 1px solid #828282;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.about-package .box-item .bg-item {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(76, 201, 240, 0.5) 100%
  );
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.about-package .box-item .bg-item img {
  max-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-package .box-item .bg-item.vip-img img {
  height: 125px;
  width: auto;
}
.about-package .box-item .item {
  margin-left: 10px;
}

.about-package .box-item .item-border {
  overflow: auto;
}
.about-package .box-item .item-border::before {
  border-image: transparent;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
}
.about-package .title,
.noted-content .title {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  line-height: 44px;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}
.about-package .desc {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #f2f2f2;
  font-weight: 200;
  margin-bottom: 20px;
  padding: 0;
}
.about-package .box-item .item .item-link {
  font-size: 14px;
  line-height: 17px;
  color: #f2f2f2;
  background: transparent;
  -webkit-text-fill-color: initial;
  text-decoration: none;
  font-weight: 400;
}
.about-package {
  margin-bottom: 50px;
}
.noted-content {
  margin-bottom: 100px;
}

.noted-content .note {
  margin: 20px auto;
}

/* Home page */
.home-page {
  position: relative;
}
.home-page .nav-bar-header {
  position: fixed;
  z-index: 99999;
}
.bg-homepage {
  background-image: url('../image/bg_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 1024px;
  position: relative;
  padding-top: 110px;
  overflow: hidden;
  height: 100vh;
}
.bg-homepage .content {
  position: relative;
  min-height: 1024px;
}

.bg-homepage .content .star-profile .img {
  background: url('../image/map05.png') no-repeat;
}
.bg-homepage .content .star-profile {
  left: 0;
  top: 88px;
  width: 513px;
  height: 386px;
}
.bg-homepage .content .star-board .img {
  background: url('../image/map01.png') no-repeat;
}
.bg-homepage .content .star-board {
  left: 393px;
  top: 125px;
  width: 618px;
  height: 461px;
  animation-timing-function: ease !important;
}

.bg-homepage .content .star-shop .img {
  background: url('../image/map04.png') no-repeat;
}
.bg-homepage .content .star-shop {
  left: 863px;
  top: -10px;
  width: 546px;
  height: 410px;
  animation-timing-function: ease-in !important;
}

.bg-homepage .content .star-music {
  left: 109px;
  top: 439px;
  width: 542px;
  height: 427px;
  animation-timing-function: ease-in-out !important;
}
.bg-homepage .content .star-music .img {
  background: url('../image/map03.png') no-repeat;
}
.bg-homepage .content .star-expo {
  left: 513px;
  top: 524px;
  width: 478px;
  height: 376px;
  animation-timing-function: ease-in !important;
}
.bg-homepage .content .star-expo .img {
  background: url('../image/map02.png') no-repeat;
}
.bg-homepage .content .star-schedule {
  left: 863px;
  top: 373px;
  width: 558px;
  height: 419px;
  animation-timing-function: ease-out !important;
}
.bg-homepage .content .star-schedule .img {
  background: url('../image/map06.png') no-repeat;
}
.bg-homepage .content .item {
  position: absolute;
}
.bg-homepage .content .item .img {
  position: absolute;
  background-position-x: -50px;
  animation: 2s amination-item ease-in-out infinite alternate;
  width: 100%;
  height: 100%;
}
@keyframes amination-item {
  to {
    transform: translateY(5px);
  }
  from {
    transform: translateY(-5px);
  }
}

.bg-homepage .content .item a {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  text-decoration: none;
  color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 3;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Orbitron', sans-serif;
}
.bg-homepage .content .item a:hover {
  background: linear-gradient(to left, #4cc9f0, #3a0ca3);
}
.bg-homepage .content .item a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #4cc9f0, #3a0ca3) 1 100%;
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.bg-homepage .content .item .line {
  content: '';
  position: absolute;
  width: 2px;
  height: 80px;
  top: 2px;
  left: 47%;
  background: linear-gradient(
    to bottom,
    rgba(76, 201, 240, 1),
    rgba(58, 12, 163, 1)
  );
  z-index: 0;
}
.bg-homepage .content .star-profile a {
  left: 47%;
  top: -40px;
}
.bg-homepage .content .star-board .line {
  top: 12px;
}
.bg-homepage .content .star-board a {
  left: 47%;
  top: -30px;
}

.bg-homepage .content .star-shop .line {
  top: 42px;
}
.bg-homepage .content .star-shop a {
  left: 47%;
  top: 0px;
}

.bg-homepage .content .star-music .line {
  top: -38px;
  left: 37%;
}
.bg-homepage .content .star-music a {
  left: 37%;
  top: -80px;
}
.bg-homepage .content .star-expo .line {
  top: 8px;
  left: 40%;
}
.bg-homepage .content .star-expo a {
  left: 40%;
  top: -34px;
}

.bg-homepage .content .star-schedule .line {
  top: 8px;
  left: 40%;
}
.bg-homepage .content .star-schedule a {
  left: 40%;
  top: -34px;
}

/* star board */
.star-board-page {
  max-width: 1240px;
  padding-top: 20px;
}
.star-board-page .box-left {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
.star-board-page .box-left .box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
.star-board-page .box-left .name {
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 44px;
  margin-bottom: 0;
}
.star-board-page .box-left .desc {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.star-board-page .box-left .box-info {
  margin-bottom: 20px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.star-board-page .box-left .box-info .label {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #f2f2f2;
  flex: 1;
}
.star-board-page .box-left .box-info .label-number {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f2f2f2;
  flex: 1;
  text-align: right;
}
.star-board-page .box-right .item {
  object-fit: cover;
  display: block;
  width: 100%;
}
.star-board-page .box-right .box-chat {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  border-radius: 5px;
  max-height: 345px;
  overflow-y: auto;
  max-width: 295px;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.star-board-page .box-right .box-chat .txt-name {
  color: #ea698b;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}
.star-board-page .box-right .box-chat .txt-date,
.star-board-page .box-right .box-chat .text {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.star-board-page .box-right .box-chat .text {
  margin-bottom: 10px;
}
.star-board-page .box-right .action .option {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url('../image/sliders.png') no-repeat;
}
.star-board-page .action {
  padding: 20px 10px;
}
.star-board-page .action .addvideo {
  padding: 10px;
  color: #460d6e;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  text-decoration: none;
  border-radius: 5px;
}
.star-board-page .box-right .box-action .play {
  background: url('../image/play.png') no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.star-board-page .box-right .box-action .cmt {
  background: url('../image/message-circle.png') no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.star-board-page .box-right .box-action .like {
  background: url('../image/heart.png') no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.star-board-page .box-right .item-video {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
}
.star-board-page .item-video .box-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 10px;
}
.star-board-page .item-video .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: url('../image/avatar.png') no-repeat;
  display: inline-block;
  background-position: center;
  background-size: contain;
}
.star-board-page .box-header .box-text {
  margin-left: 10px;
  width: calc(100% - 40px);
}
.star-board-page .box-header .box-text .name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #f2f2f2;
  margin-bottom: 0;
}
.star-board-page .box-header .box-text .date {
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  font-weight: 300;
  margin-bottom: 0;
}
.star-board-page .box-header .action {
  padding: 0;
  color: #fff;
  align-items: center;
  display: flex;
}
.star-board-page .box-content .text {
  margin-bottom: 10px;
  min-height: 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.star-board-page .box-content img {
  display: block;
  width: calc(100% + 30px);
  margin-left: -15px;
  object-fit: cover;
}

.star-board-page .box-bottom {
  padding: 15px 0 0;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.star-board-page .box-bottom .txt {
  font-size: 12px;
  line-height: 15px;
  color: #f2f2f2;
  display: inline-block;
  margin-left: 5px;
  font-weight: 300;
}
.star-board-page .box-right .box-action {
  width: 42px;
  align-content: center;
  display: flex;
  margin-right: 20px;
}
.star-board-page .box-right {
  padding-left: 20px;
}
.star-board-page .box-right .live {
  padding-right: 20px;
}

.star-board-page .box-right .col-md-4 {
  padding-right: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.star-board-page .dropdown-menu-options {
  background: #f1f1f1;
  width: 225px;
  padding: 15px;
}
.star-board-page .dropdown-menu-options::before {
  content: none;
}
.star-board-page .dropdown-menu-options a:hover {
  border: none;
  background: initial;
  color: #fa8c02;
}
.star-board-page .dropdown-menu-options a {
  color: #2b0845;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 17px;
  min-height: 17px;
}
.star-board-page .dropdown-menu-options .btn {
  padding: 5px;
  background: #2b0845;
  color: #f2f2f2;
  margin-right: 10px;
  margin-top: 20px;
}
.star-board-page .dropdown-menu-options .btn:hover {
  background: #2b0845;
}
.star-board-page .dropdown-menu-options .btn-cancel {
  font-weight: 600;
  margin-left: 69px;
}
.star-board-page .dropdown-menu-options .header {
  margin-top: 20px;
}
.star-board-page .dropdown-menu-options .btn-apply {
  margin-right: 0;
}
.star-board-page .dropdown-menu-options a.active {
  color: #fa8c02;
  background: transparent;
  position: relative;
}
.star-board-page .dropdown-menu-options a.active .bi {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
}
.star-board-page .dropdown-menu-options li {
  color: #2b0845;
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
}
.star-board-page .dropdown-menu-options li.header {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}
.star-board-page .dropdown-menu-options li.title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.navbar-collapse .close {
  display: none;
}
@media screen and (max-width: 767px) {
  body,
  html {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }
  .nav-bar-header {
    width: 100%;
    padding: 0 15px;
    z-index: 999;
  }
  .nav-bar-header .nav-bar {
    padding: 0;
  }
  .nav-bar-header .navbar-expand-lg {
    padding: 0;
    height: 45px;
  }
  .navbar a {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
  .navbar .img-logo {
    padding: 0;
  }
  .navbar .img-logo img {
    width: 24px;
    height: 24px;
  }
  .nav-bar-header .navbar-toggler {
    color: #f2f2f2;
    box-shadow: none;
    outline: none;
    margin-right: -10px;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 15px;
    background: #999;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
  .navbar-collapse::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(43, 8, 69, 0) 0%,
        rgba(250, 140, 2, 0.5) 100%
      ),
      rgba(0, 0, 0, 0.8);
    font-size: 14px;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .navbar-collapse .img-logo {
    margin-bottom: 15px;
  }
  .nav-home {
    display: block;
  }
  .navbar-collapse .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 18px;
    display: block;
  }
  .navbar-collapse .img-logo,
  .navbar-collapse .img-logo img {
    display: block;
    width: 68px;
    height: 68px;
  }
  .navbar-collapse .nav-item.dropdown ul {
    box-shadow: none;
    width: 100%;
  }
  .navbar-collapse .nav-item.dropdown ul::before {
    content: none;
  }
  .star-board-page {
    padding: 0;
    width: 100%;
  }
  .star-board-page > .row {
    width: 100%;
    margin: 0;
  }
  .star-board-page .box-left .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .star-board-page .box-left .box {
    width: 101px;
    margin: 0 auto;
    height: 101px;
    margin-bottom: 15px;
  }
  .star-board-page .box-left .name {
    font-size: 14px;
    line-height: 18px;
  }
  .star-board-page .box-left {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../image/bgfix (1).jpg') no-repeat center center;
    padding-top: 65px;
    margin-top: -45px;
    background-size: cover;
  }
  .star-board-page .box-left .box-info {
    max-width: 128px;
    margin: 0 auto;
  }
  .star-board-page .block-action.action {
    padding: 10px 5px;
    width: 100%;
    margin: 0;
    padding-right: 5px;
  }
  .star-board-page .block-action.action .addvideo {
    padding: 5px;
    font-size: 12px;
  }
  .star-board-page .box-right .block-action.action .option {
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  .star-board-page .block-action.action .btn-information {
    background: transparent;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    border-width: 2px;
    position: relative;
    margin-left: 5px;
  }
  .star-board-page .block-action.action .btn-information::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    top: 0;
    left: 0;
  }
  .video-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .star-board-page .box-right {
    padding: 10px;
  }
  .video-content .col-md-4 {
    padding: 0 !important;
  }
  .dropdown-menu li a:hover {
    border: none;
  }
  .account .dropdown-menu .dropdown-item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    text-transform: capitalize;
    color: #f2f2f2;
  }
  .navbar-nav .account {
    padding-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
  .nav-item .btn-logout {
    text-decoration: none;
    color: #828282;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 5px;
    display: block;
  }
  .nav-item.logout {
    width: 100%;
  }
  .item-mobile.nav-item .nav-link {
    font-weight: 300;
  }
  .nav-bar-header .navbar-toggler .bi-list {
    font-size: 24px;
  }
  .star-board-page #demo .box-info {
    margin-bottom: 20px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  .star-board-page #demo .box-info .label {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #f2f2f2;
    flex: 1;
  }
  .star-board-page #demo .box-info .label-number {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #f2f2f2;
    flex: 1;
    text-align: right;
  }
  .star-board-page #demo .box-info:last-child {
    margin-bottom: 0;
  }
  .star-board-page #demo {
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    border-radius: 5px;
  }
  .container-xxl.body-content {
    background-position: center 40px;
  }
  .body-content {
    min-height: 545px;
  }
  .body-content .content {
    margin-top: calc(50% + 60px);
  }
  .body-content .content p {
    font-size: 14px;
    line-height: 17px;
  }
  .body-content .content .btn-buy-ticket {
    font-size: 12px;
    line-height: 15px;
  }
  .body-content .content .btn-buy-ticket::before {
    border-width: 2px;
  }
  .events.container-xxl.bg-image_expo::before,
  .container-xxl.bg-image::before {
    background-image: url('../image//orange.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: -200px;
  }
  .events.container-xxl .container-content .title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
  }
  .events.container-xxl .container-content {
    top: -60px;
  }
  .events.container-xxl .container-content > .row {
    padding: 0 15px 10px;
    flex-direction: column-reverse;
  }
  .events.container-xxl .block {
    height: auto;
    width: 100%;
    background-size: 162px 140px;
  }
  .events.container-xxl .content {
    height: 140px;
  }
  .events.container-xxl .content .img-content {
    height: 134px;
    left: inherit;
    width: 224px;
    right: 0;
  }
  .events.container-xxl .block::before {
    border-width: 2px;
  }
  .events.container-xxl .content .text {
    padding: 5px;
    font-size: 18px;
    line-height: 22px;
    max-width: 153px;
  }
  .events.container-xxl .content .text:hover + .img-content {
    transform: scale(1);
    left: inherit !important;
  }
  .events.container-xxl .content {
    margin-bottom: 10px;
  }
  .events .img-star {
    justify-content: center !important;
  }
  .events .img-star .icon-star {
    width: 18px;
    height: 18px;
  }
  .events.container-xxl .content.content-right .text,
  .events.container-xxl .content.content-right .block {
    left: 0;
  }
  .events.container-xxl .content.content-right .img-content {
    right: 0;
    left: inherit;
  }
  .events.container-xxl .content.content-right .block {
    height: auto;
    width: 100%;
    background-size: 162px 140px;
    background-position: right top;
  }
  .events.container-xxl .content-fix-layout.content .block {
    background-size: 162px 140px;
  }
  .events.container-xxl .content-fix-layout.content .img-content {
    height: 136px;
  }
  .events.container-xxl .container-content > .row.reserved {
    flex-direction: column;
  }
  .footer .row {
    width: 100%;
  }
  .footer .item-footer {
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .footer.container-xxl .image-logo img {
    width: 80px;
    height: 80px;
  }
  .footer .image-logo {
    margin-bottom: 15px;
  }
  .footer .icon-social {
    text-align: center;
  }
  .footer .icon-social a {
    margin-right: 25px;
    color: #f2f2f2;
  }
  .footer.container-xxl .contact {
    font-size: 14px;
    line-height: 17px;
  }
  .footer.container-xxl .contact h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .footer {
    margin-top: -515px;
  }
  .container-xxl.bg-image_expo {
    padding-bottom: 520px;
  }
  .time-info {
    width: 100%;
    top: -70px;
  }
  .time-info h3.title {
    font-size: 18px;
    line-height: 23px;
  }
  .time-info .table .title-header .col-4,
  .time-info .table .title-header .col-3 {
    font-size: 14px;
    line-height: 17px;
  }
  .time-info .table .row {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .time-info .desc .text span {
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
  }
  .time-info .desc .btn-here {
    padding: 5px;
    font-size: 12px;
    line-height: 15px;
    color: #f2f2f2;
    position: relative;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
  }
  .time-info .desc .btn-here::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    top: 0;
    left: 0;
  }
  .time-info .desc .text span {
    margin-right: 5px;
  }
  .infor-ticket {
    margin-top: -40px;
    width: 100%;
  }
  .infor-ticket.container-xxl .live-stream {
    margin-top: 20px;
  }
  .infor-ticket .content .desc {
    margin-bottom: 0;
  }
  .full-content {
    background: transparent;
  }
  .infor-ticket.container-xxl .live-stream-text {
    margin-top: 10px;
  }
  .container-xxl.bg-image {
    padding-bottom: 30px;
  }
  .sale-content .title {
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .sale-content {
    padding-top: 30px;
  }
  .sale-content .box-item,
  .about-package .box-item {
    width: 100%;
  }
  .sale-content .box-item .item,
  .about-package .box-item .item {
    max-width: 162px;
    min-width: 162px;
  }
  .sale-content .box-item .item img,
  .about-package .box-item .item img {
    min-height: 180px;
  }
  .sale-content .box-item .item .item-link,
  .about-package .box-item .item .item-link {
    padding: 5px 0;
    width: calc(100% - 20px);
    left: 20px;
  }
  .sale-content .box-item .item-border,
  .about-package .box-item .item-border {
    height: calc(100% - 5px);
  }
  .sale-content .actions-more .btn-see-more {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    color: #f2f2f2;
    -webkit-text-fill-color: initial;
    background: transparent;
    padding: 5px;
  }
  .sale-content .actions-more .btn-see-more::before {
    border-width: 2px;
  }
  .sale-content .actions-more {
    margin-top: -10px;
    margin-bottom: 165px;
    text-align: left;
  }
  .footer.footer-event-now {
    margin-top: -495px;
  }
  .infor-ticket.container-xxl .title {
    font-size: 14px;
    line-height: 18px;
  }
  .time-info .table {
    margin-bottom: 10px;
  }
  .footer .icon-social a:last-child {
    margin-right: 0;
  }
  .body-content-event-past.container-xxl.body-content {
    min-height: 360px;
    background-size: 100% ;
  }
  .events.container-xxl.bg-image_expo::before, .container-xxl.bg-image::before {
    background-size: 100%;
  }
  .events-past.container-xxl.events .container-content .title {
    font-size: 18px;
    line-height: 23px;
    max-width: 64%;
    margin-bottom: 10px;
  }
  .events.container-xxl.events-past.bg-image_expo{
    padding-bottom: 165px;
  }
  .concert-container .time-info {
    margin-top: -210px;
    top: 0;
  }
  .container-xxl.concert-container .title {
    margin-bottom: 10px;
  }
  .concert-container .time-info .table .row .col-4 a{
    display: block;
    padding: 2px 18px;
    color: #828282;
    border: 1px solid #828282;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    margin-top: 6px;
  }
  .container-xxl.concert-container {
    padding-bottom: 20px;
  }
  .about-package .title, .noted-content .title {
    font-size: 18px;
    line-height: 23px;
  }
  .about-package .desc {
    font-size: 14px;
    line-height: 17px;
    max-width: 60%;
    margin: 0 auto;
  }
  .about-package .box-item .bg-item {
    height: 168px;
  }
  .about-package .box-item .bg-item img {
    width: 97px;
    min-height: 100px;
  }
  .about-package .box-item .item .item-link {
    width: calc(100% - 35px);
  }
  .about-package {
    margin-bottom: 0;
  }
  .about-package .box-item .item .item-link {
    font-size: 12px;
    line-height: 15px;
  }
  .time-info .table {
    padding: 10px;
  }
  .time-info .table .row::before {
    width: calc(100% - 40px);
    left: 22px;
  }
  .noted-content .note {
    margin: 10px auto;
  }
  .noted-content {
    margin-bottom: 30px;
  }
  .bg-homepage .content .star-profile {
    width: 214px;
    height: 163px;
    left: -11px;
    top: 28px;
  }
  .bg-homepage .content .star-board {
    width: 258px;
    height: 193px;
    left: 99px;
    top: 110px;
  }
  .bg-homepage .content .star-shop {
    width: 229px;
    height: 172px;
    left: 275px;
    top: 12px;
  }
  .bg-homepage .content .star-music {
    width: 227px;
    height: 179px;
    left: -24px;
    top: 224px;
  }
  .bg-homepage .content .star-expo {
    width: 200px;
    height: 156px;
    left: 143px;
    top: 298px;
  }
  .bg-homepage .content .star-schedule {
    width: 234px;
    height: 176px;
    left: 275px;
    top: 200px;
  }
  .bg-homepage .content .item .img {
    background-size: contain;
    background-position-x: 0;
  }
  .bg-homepage .content {
    width: 100%;
  }
  .bg-homepage {
    overflow-x: auto;
    padding-top: 30%;
  }
}

@media screen and (max-width: 430px) {
  .events.container-xxl .container-content {
    top: -80px;
  }
  .body-content .content {
    margin-top: calc(50% + 120px);
  }
  .body-content .content p {
    max-width: 80%;
    text-align: center;
  }
  .body-content-event-past.container-xxl.body-content {
    min-height: 286px;
  }
}

@media screen and (min-width: 580px) and (max-width: 767px) {
  .events.container-xxl.bg-image_expo::before,
  .container-xxl.bg-image::before {
    top: -250px;
  }
  .body-content .content {
    margin-top: 50%;
  }
  .events.container-xxl.events-past.bg-image_expo::before{
    top: -280px;
  }
  .body-content-event-past.container-xxl.body-content {
    min-height: 480px;
  }
  .events.container-xxl .container-content {
    top: -140px;
  }
}
