body {
  background: #2b0845;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.container-fluid {
  background: rgba(0, 0, 0, 0.25);
}

.navbar a {
  color: #ffffff;
  margin-left: 10px;
}
.navbar {
  padding-left: 80px;
  padding-right: 80px;
}
.nav .nav-item {
  font-size: 18px;
  line-height: 23px;
}
.navbar-nav .nav-item a:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link.dropdown-toggle:after {
  content: none;
}
.nav-link.dropdown-toggle .bi-chevron-down {
  color: rgba(242, 242, 242, 1);
}
.icon-nav a {
  width: 21px;
  margin-left: 10px;
}
.icon-nav .bi {
  color: #fff;
}
.icon-nav .text {
  margin-right: 20px;
  text-decoration: none;
}
.dropdown-menu:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
      180deg,
      rgba(43, 8, 69, 0) 0%,
      rgba(250, 140, 2, 0.5) 100%
    ),
    rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.navbar .img-logo img {
  width: 64px;
  height: 64px;
}
.nav-bar-header {
  position: relative;
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
}
.dropdown-menu {
  background: transparent;
  width: 153px;
  padding: 0px;
  border-radius: 5px;
  margin-top: 0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: transparent;
}

.dropdown-menu li a {
  text-transform: uppercase;
  color: #fff;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li {
  border-radius: 5px;
  overflow: hidden;
  background: transparent;
}
.dropdown-menu li a {
  min-height: 32px;
}
.dropdown-menu li a:hover {
  background: transparent;
  color: #fff;
  border: 1px solid;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 5px;
}
.navbar {
  height: 100px;
}
.navbar .nav-bar {
  padding-left: 80px;
}
.container-xxl.body-content {
  background: url('../image/expo-now-01.jpg') no-repeat;
  background-size: cover;
  position: relative;
  top: -100px;
  z-index: 0;
  font-family: 'Montserrat', sans-serif;
  background-position: top center;
}
.body-content {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 27px;
  min-height: 964px;
}
.body-content .content {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: calc(50% - 333px);
}
.body-content .content p {
  margin-bottom: 10px;
}
.body-content .content .btn-buy-ticket::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 4px;
  border-style: solid;
  top: 0;
  left: 0;
}
.body-content .content .btn-buy-ticket {
  position: relative;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  overflow: hidden;
  font-weight: 900;
  font-size: 23px;
  line-height: 29px;
  cursor: pointer;
}
.body-content .content .btn-buy-ticket:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  color: #fff;
}
.container-xxl.bg-image {
  position: relative;
  padding-bottom: 40px;
}
.container-xxl.bg-image_expo {
  position: relative;
  padding-bottom: 360px;
}
.time-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1030px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.time-info h3.title {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 44px;
  font-weight: 900;
}
.time-info .table {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  padding: 0 40px;
  color: #fff;
}
.time-info .table::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 4px;
  border-style: solid;
  top: 0;
  left: 0;
}
.time-info .table .row {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
.time-info .table .row::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  bottom: 0;
}
.time-info .table .row:last-child:before {
  content: none;
}
.time-info .table .col-4 {
  text-align: center;
}
.time-info .table .title-header .col-4 {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.time-info .table .title-content .col-4 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.time-info .desc {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.time-info .desc .text {
  margin-bottom: 0;
}
.time-info .desc .text span {
  margin-right: 20px;
}
.time-info .desc .btn-here {
  color: #460d6e;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.infor-ticket {
  margin-top: 80px;
  width: 1030px;
}
.infor-ticket .content .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Orbitron';
}
.infor-ticket .content .text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}
.infor-ticket .content .desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.infor-ticket.container-xxl .live-stream {
  margin-top: 50px;
  font-family: 'Orbitron';
}
.infor-ticket.container-xxl .live-stream-text {
  margin-top: 50px;
}
.infor-ticket.container-xxl .title {
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
}
.infor-ticket .live-stream .table {
  width: 480px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  color: #fff;
}
.infor-ticket .live-stream .table .item {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  padding-left: 15px;
  border-right: 1px solid #f2f2f2;
}
.infor-ticket .live-stream .table .item:last-child {
  border-right: none;
}
.infor-ticket .live-stream .table .row {
  border-bottom: 1px solid #f2f2f2;
}
.infor-ticket .live-stream .table .row:last-child {
  border-bottom: none;
}

.infor-ticket .live-stream .table .item.label {
  font-weight: 600;
  max-width: 140px;
  padding-right: 0;
  padding-left: 15px;
}
.infor-ticket .list-live {
  font-size: 14px;
  line-height: 17px;
  font-weight: 200;
  padding: 0 25px;
  margin-bottom: 5px;
}
.infor-ticket.container-xxl {
  position: relative;
  overflow: hidden;
}
.full-content {
  z-index: 2;
  position: relative;
  background: url('../image/pngaaa 1.png') no-repeat;
  background-position: bottom right;
  background-size: 673px 1130px;
}
.infor-ticket .text-gray {
  color: #828282;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 17px;
}
.infor-ticket .content {
  padding: 0;
}
.events.container-xxl .content .text {
  width: 209px;
  padding: 20px;
  font-size: 22px;
  line-height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11000000;
  cursor: pointer;
}

.events.container-xxl .content .text:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.events.container-xxl .content .text:hover + .img-content {
  transform: scale(1.2);
  left: 0;
}
.events.container-xxl .container-content {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  z-index: 11;
}
.events.container-xxl.bg-image_expo::before,
.container-xxl.bg-image::before {
  content: '';
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url('../image/bg.png') no-repeat top center;
}
.container-xxl.bg-image::before {
  background: url('../image/orange.png') no-repeat top center;
}
.events.container-xxl.bg-image_expo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('../image/bgfix (1).jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}
.events.container-xxl .container-content .title {
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 80px;
  font-family: 'Orbitron';
}
.events.container-xxl .content {
  height: 350px;
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
}
.events.container-xxl .content .img-content {
  width: 100%;
  height: calc(100% - 7px);
  position: absolute;
  left: 110px;
  top: 4px;
  object-fit: contain;
  z-index: 23333;
  transition: all 0.3s linear;
}
.events.container-xxl .block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  width: calc(100% - 90px);
  background: url('../image/StarlineSparkle896 - Student, Interface Designer _ DeviantArt.png')
    no-repeat;
  background-size: calc(100% - 300px) 300px;
  background-position: right top;
}
.events.container-xxl .block::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.events .img-star {
  display: flex;
  transform: translateY(-50%);
}
.events .img-star .icon-star {
  background: url('../image/star.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: flex;
}

.events.container-xxl .content.content-right .text,
.events.container-xxl .content.content-right .block {
  right: 0;
  left: auto;
}

.events.container-xxl .content.content-right .block {
  background: url('../image/F3nTqy.jpeg') no-repeat;
  background-position: -110px;
  background-size: contain;
}
.events.container-xxl .content.content-right .img-content {
  left: -110px;
}

.events.container-xxl .content.content-right .text:hover + .img-content {
  left: 40px;
}
.events.container-xxl .content.content-fix-layout .text:hover + .img-content {
  left: -50px;
}
.events.container-xxl .content-fix-layout.content .block {
  background: url('../image/pastel _ Tumblr.png') no-repeat;
  background-size: calc(100% - 300px) 100%;
  background-position: right top;
}
.footer {
  position: relative;
  z-index: 1;
  margin-top: -360px;
}
.footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% + 20px);
  background: linear-gradient(
    180deg,
    rgba(43, 8, 69, 0) 0%,
    rgba(250, 140, 2, 0.5) 100%
  );
  top: 0;
  left: 0;
  z-index: -1;
}
.footer .item-footer {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Orbitron';
  white-space: nowrap;
  display: inline-block;
  flex: 0;
  padding: 0;
  padding-left: 20px;
  cursor: pointer;
}
.footer .item-footer:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .row {
  width: 1240px;
  margin: 0 auto;
}
.footer.container-xxl .image-logo img {
  display: block;
  width: 150px;
  height: 152.21px;
  margin: 0 auto;
  margin-top: 20px;
}
.footer.container-xxl .image-logo .icon-social {
  text-align: center;
  margin-top: 10px;
}
.footer.container-xxl .image-logo .icon-social a {
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-left: 20px;
  width: 25px;
}
.footer.container-xxl .contact {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
  margin-top: 10px;
}
.footer.container-xxl .contact p {
  margin-bottom: 4px;
}
.footer.container-xxl .contact h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 6px;
}

.sale-content {
  z-index: -1;
  background: url('../image/bgfix (1).jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 360px;
}
.sale-content .box-item {
  width: 1240px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.sale-content .box-item .item {
  width: 295px;
  height: 342px;
  margin-left: 10px;
  margin-bottom: 30px;
  position: relative;
}
.sale-content .box-item .item-border {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s linear;
}
.sale-content .box-item .item-border::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.sale-content .box-item .item img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.sale-content .box-item .item .item-link {
  display: inline-block;
  vertical-align: middle;
  padding: 18px 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 10;
}

.sale-content .box-item .item .item-link:hover + .item-border {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 10px);
}

.sale-content .title {
  text-align: center;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  margin-bottom: 50px;
}
.sale-content .actions-more {
  text-align: center;
}
.sale-content .actions-more .btn-see-more {
  padding: 10px 30px;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 120px;
  text-decoration: none;
}
.sale-content .actions-more .btn-see-more::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-image: linear-gradient(to left, #ffe10d, #fa8c02) 1 100%;
  border-image-slice: 1;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.sale-content .actions-more .btn-see-more:hover {
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #460d6e;
}

/* page event past */

.body-content-event-past.container-xxl.body-content{
  background-image: url('../image/bg-img-event-past.jpg');
}
.events-past.container-xxl.events .container-content .title {
  text-align: center;
  background: linear-gradient(to left, #ffe10d, #fa8c02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 680px;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  margin: 0 auto 20px;
  
}
.events-past .container-content {
  margin-bottom: 50px;
}
.events-past .container-content .content-iframe {
  position: relative;
  max-width: 1030px;
  overflow: hidden;
  padding-top: 46.80%;
  margin: 0 auto;
}

.events-past .container-content .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
